#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #222222;
}
#ext_menu-0 .mbr-navbar__section {
  background: #222222;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 32px;
}
#content5-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 22px;
}
#content5-8 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-article {
  color: #fff;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 22px;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #fff;
}
#content5-9 .mbr-article P {
  text-align: left;
}
#content5-9 .mbr-article H2 {
  color: #ffffff;
}
#content5-9 .mbr-article H3 {
  color: #ffffff;
}
#content5-10 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 22px;
}
#content5-10 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-10 .mbr-article {
  color: #fff;
  text-align: center;
  font-size: 20px;
}
#testimonials1-11 .mbr-section__header {
  color: #ffffff;
  font-size: 22px;
}
#testimonials1-11 .mbr-reviews__author-name {
  color: #cccccc;
}
#testimonials1-11 .mbr-reviews__author-bio {
  color: #cccccc;
}
#content5-12 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 22px;
}
#content5-12 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-12 .mbr-article {
  color: #fff;
}
#content5-12 .mbr-article P {
  text-align: center;
  font-size: 20px;
}
#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #222222;
}
#ext_menu-2 .mbr-navbar__section {
  background: #222222;
}
#ext_menu-2 .mbr-brand__name a {
  font-size: 32px;
}
#content5-13 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-13 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-13 .mbr-article {
  color: #fff;
}
#content4-15 P {
  color: #ffffff;
}
#content4-15 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#content4-15 .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#image2-16 SMALL {
  font-size: 18px;
  color: #000000;
}
#ext_menu-4 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #222222;
}
#ext_menu-4 .mbr-navbar__section {
  background: #222222;
}
#ext_menu-4 .mbr-brand__name a {
  font-size: 32px;
}
#content5-17 .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
}
#content5-17 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-17 .mbr-article {
  color: #fff;
}
#content5-17 .mbr-article P {
  color: #252525;
}
#content5-18 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-article {
  color: #fff;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #222222;
}
#ext_menu-6 .mbr-navbar__section {
  background: #222222;
}
#ext_menu-6 .mbr-brand__name a {
  font-size: 32px;
}
#content4-19 .mbr-header__subtext {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
#content4-19 .mbr-section__col .mbr-header__text {
  text-align: left;
  color: #ffffff;
}
#content4-19 P {
  color: #ffffff;
  text-align: left;
}
#content4-19 .mbr-section-title .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#ext_menu-20 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-20.mbr-navbar--stuck .mbr-navbar__section {
  background: #222222;
}
#ext_menu-20 .mbr-navbar__section {
  background: #222222;
}
#ext_menu-20 .mbr-brand__name a {
  font-size: 32px;
}
#content5-21 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 22px;
}
#content5-21 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-21 .mbr-article {
  color: #fff;
}
#content5-21 .mbr-article H2 {
  color: #ffffff;
}
#content5-21 .mbr-article H3 {
  color: #ffffff;
}
#content5-21 .mbr-header .mbr-header__text H1 {
  color: #ffffff;
}
#content5-28 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-28 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-28 .mbr-article {
  color: #fff;
  text-align: center;
  font-size: 20px;
}
#content5-25 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 22px;
}
#content5-25 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-25 .mbr-article {
  color: #fff;
}
#content5-25 .mbr-article P {
  text-align: center;
  font-size: 20px;
}
